[submodule ".config/doom/themes/everforest"]
	path = .config/doom/themes/everforest
	url = https://github.com/Theory-of-Everything/everforest-emacs.git
[submodule ".config/suckless/dwm"]
	path = .config/suckless/dwm
	url = git@github.com:firman-qs/dwm-fqs.git
[submodule ".config/doom/themes/doom-rose-pine"]
	path = .config/doom/themes/doom-rose-pine
	url = https://github.com/donniebreve/rose-pine-doom-emacs.git
[submodule ".config/suckless/st"]
	path = .config/suckless/st
	url = git@github.com:firman-qs/st-simple-terminal-fqs.git
[submodule ".config/doom/extra-packages/php-extras"]
	path = .config/doom/extra-packages/php-extras
	url = https://github.com/arnested/php-extras.git
