#!/bin/bash
# lxsession &
picom &
nitrogen --restore &

# wal -R &&
# xdotool key Super+Shift+F5 &
xset dpms 0 0 10800 &
xss-lock -- slock &
setxkbmap -layout us -option ctrl:swapcaps &
sleep 2 && xmodmap -e "pointer = 1 2 3 4 5 6 7 8 9 10" &
# xrdb -merge /home/fqs/.cache/wal/colors.Xresources &
